*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color:rgb(91, 96, 47);
}
.header-logo{
  display: flex;
  gap:1em;
  align-items: center;
  color:gray;
cursor:pointer;
opacity: 0.5;
transition: 1s;
}
.header-title{
  font-weight: 100;
}

.header-logo:hover{
  opacity: 1;
  transition: 1s;
}
.header{
display: flex;
justify-content: space-around;
align-items: center;
padding: 1em;
}
.header .navbar ul{
  display: flex;
  gap:1em;
} 
nav{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link{
transition: 1s;
padding: 0.5em;
border-radius:1em;
opacity: 0.5;
}
.nav-link:hover{
  transition: 1s;
  opacity: 1;
}
.logo{
  transition: 1s;
padding: 0.5em;
border-radius:1em;
opacity: 0.5;
cursor: pointer;
}
.logo:hover{
  transition: 1s;
  opacity: 1;
}

.item-list-container{
  display: flex;
  justify-content: center;
  align-items: center;
gap:2em;
flex-direction: column-reverse;
  color:rgb(113, 198, 244);
flex-wrap: wrap;
}
.item-count-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:1em;
}

.item-count-container{
  display: flex;
  gap:0.8em;
  flex-direction: column;
width: 9em;
align-items: center;
justify-content: center;

color:rgb(113, 198, 244);

padding: 1em;
}
.item-count{
  border-radius: 0.3em;
  display: flex;
justify-content: center;
gap:3em;
  align-items: center;
width: 100%;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
border:1px solid gray;
height: 2em;
}
span{
  color: #535353;
}
.count-btn{

}
.btn{
  padding: 0.3em;
  border: none;
  color:rgb(113, 198, 244);
  cursor: pointer;
  background-color: white;
}
.buy-btn{
  width: 9em;
}
.price{
  color:rgb(113, 198, 244);
  font-size: 2em;
}
.buy-btn button{
  width: 100%;
  border:1px solid rgb(113, 198, 244);
  border-radius: 0.3em;
  cursor: pointer;
  transition:1s;
}
.buy-btn button:hover{

  background-color: rgb(113, 198, 244);
  color:white;
  transition:1s;
}
.stock{
  text-align: center;
  color:rgb(113, 198, 244);
}
.item-card{
  padding: 2em;
  background-color: rgb(245, 245, 245);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.card-para{
  font-size: 16px;
  font-weight:700;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.card-title{
  padding: 1em;
}
.btn-buy{
  width: 200px;
  margin: 0.5em;
  border-radius: 1em;
background:none;
border:2px solid gray;
transition:0.5s;
cursor: pointer;
font-weight: 500;
}
.btn-buy:hover{
  background-color: gray;
  color:white;
  transition:0.5s;
}
.card-body{
  border:3px solid gray;
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-detail{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:4em;
}
.title-detail{
font-size: 2.5em;
color:black;
font-weight: 100;
opacity: 0.3;
transition: 0.5s;
}
.title-detail:hover{
  opacity: 1;
  transition: 0.5s;
}
.card-detail{
  display: flex;
  gap:1em;
  justify-content: center;
  align-items: center;
}
.img-detail{
  transform: scale(0.9);
  padding: 1em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 20em;
  transition:1s;
}
.img-detail:hover{
transform: scale(1);
transition:1s;
}
.par-detail{
  text-align: center;
  margin: 1em;
  font-size: 1.5em;
}
.description{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: end;
}

@media all and (max-width:768px) {
  .item-detail{
    padding: 1em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .title-detail{
    font-size: 1.5em;
    text-align: center;
  }
  .item-count-container{
width: 6em;
  }
  .item-count{
gap:1.5em;
  }
#addToCart{

}
.stock{
margin: 0.5em;
}
  .btn{

  }
  .buy-btn{
width: 6em;
  }
  .price{
font-size: 1.5em;
  }
  .buy-btn button{

  }
  .buy-btn button:hover{
  
  
  }
  .header-title{
    font-size: 24px;
  }
  .description{
    align-items: center;
  }
  .img-detail{
    width: 10em;
  }
  .par-detail{
    font-size: 1em;
  }
}
@media all and (max-width:768px) {
  .header-title{
    font-size: 24px;
  }
  #logo{
    width: 35px;
  }
}
@media all and (max-width:368px) {
  .header-title{
    font-size: 14px;
  }
  #logo{
    width: 25px;
  }
}