*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.header-logo{
  display: flex;
  gap:1em;
  align-items: center;
  color:gray;
cursor:pointer;
opacity: 0.5;
transition: 1s;
}
.header-title{
  font-weight: 100;
}
.cart-noitems{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.cart-noitems p{
  margin: 1em;
  
}
.header-logo:hover{
  opacity: 1;
  transition: 1s;
}
.header{
display: flex;
justify-content: space-around;
align-items: center;
padding: 1em;
}
.header .navbar ul{
  display: flex;
  gap:1em;
} 
nav{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link{
transition: 1s;
padding: 0.5em;
border-radius:1em;
opacity: 0.5;
}
.nav-link:hover{
  transition: 1s;
  opacity: 1;
}
.logo{
  transition: 1s;
padding: 0.5em;
border-radius:1em;
opacity: 0.5;
cursor: pointer;
}
.logo:hover{
  transition: 1s;
  opacity: 1;
}
.no-products{
display: flex;
justify-content: center;
align-items: center;
}
.no-products-title{
font-weight: 100;
opacity: 0.5;
transition:1s;
animation-name:appear-2;
animation-duration: 2s;
}
.no-products-title:hover{
  opacity: 1;
  transition:1s;
}
.item-list-container{
  display: flex;
  justify-content: center;
  align-items: center;
gap:2em;
flex-direction: column-reverse;
  color:rgb(113, 198, 244);
flex-wrap: wrap;
}
.item-count-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:1em;
}

.item-count-container{
  display: flex;
  gap:0.8em;
  flex-direction: column;
width: 9em;
align-items: center;
justify-content: center;

color:rgb(113, 198, 244);

padding: 1em;
}
.item-count{
  border-radius: 0.3em;
  display: flex;
justify-content: center;
gap:3em;
  align-items: center;
width: 100%;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
height: 2em;
}
span{
  color: #535353;
}
.count-btn{

}
.btn{
  padding: 0.3em;
  border: none;
  color:rgb(113, 198, 244);
  cursor: pointer;
  background-color: white;
}
.buy-btn{
  width: 9em;
}
.price{
  color:rgb(113, 198, 244);
  font-size: 2em;
}
.buy-btn button{
  width: 100%;
  border:1px solid rgb(113, 198, 244);
  border-radius: 0.3em;
  cursor: pointer;
  transition:1s;
}
.buy-btn button:hover{

  background-color: rgb(113, 198, 244);
  color:white;
  transition:1s;
}
.stock{
  text-align: center;
  color:rgb(113, 198, 244);
}
.item-card{
  padding: 2em;
  background-color: rgb(245, 245, 245);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.card-img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-img h3{
  font-weight: 100;
}
.card-para{
  font-size: 16px;
  font-weight:700;
}
.home{
  animation-name:appear-2;
  animation-duration:3s;
  animation-fill-mode: both;
  transition: 1s;
  opacity: 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 70vh;
}
.home a{
}
.home-btn{
  width: 20em;
  padding: 0.5em;
  background-color: white;
  border:1px solid white;
  box-shadow: rgba(99, 99, 99, 0.2) 2px 4px 8px 0px;
border-radius: 1em;
margin: 2em;
transition: 0.5s;
cursor: pointer;
}
.home-btn:hover{
  box-shadow: rgba(99, 99, 99, 0.5) 4px 8px 16px 0px;
  transition: 0.5s;
}
.shop{
  animation-name:appear;
  animation-duration:3s;
  animation-fill-mode: both;
  transition: 1s;
  opacity: 0;
}
.purchase-container:hover a{
  color: white;
  transition: 1s;
}
.total-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.buyer-container{
  display: flex;
  flex-direction: column;
}
.buyer-container p{
  display: inline;
}
.info-buy{
  display: flex;
  align-items: center;
justify-content: flex-start;
gap: 2em;
}
.info-buy input{
  padding: 1em;
  border: 2px solid black;
  border-radius: 1em;
  box-shadow: inset 0 0 0 0 black;
  transition:1s;
  cursor: pointer;
}
.info-buy input:hover{
  box-shadow: inset 300px 0 0 0 black;
  transition:1s;
  color: white;
}
.purchase-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.purchase-title a{
  color:black;
  transition: 1s;
  font-weight: 500;
}
@keyframes appear {
  0%{}
  10%{opacity:0.10;}
  20%{opacity:0.20;}
  30%{opacity:0.30;}
  40%{opacity:0.40;}
  50%{opacity:0.50;}
  60%{opacity:0.60;}
  70%{opacity:0.70;}
  80%{opacity:0.80;}
  90%{opacity:0.90;}
  100%{opacity:1;}
}
@keyframes appear-2 {
  0%{transform: translateY(-10em);}
  10%{opacity:0.10;}
  20%{opacity:0.20;}
  30%{opacity:0.30;}
  100%{opacity:0.80;}
}
.home-title{
  color: black;
  font-weight: 100;
  margin: 0.5em;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-title{
  padding: 1em;
}
.btn-buy{
width: 200px;
margin: 0.5em;
background: none;
display: flex;
justify-content: end;
border:0;
transition:0.5s;
cursor: pointer;
font-weight: 500;
padding: 0.5em;
font-size: 1em;
border-radius: 0.3em;
box-shadow: rgba(99, 99, 99, 0.2) 2px 4px 8px 0px;
}
.btn-buy-2{
  text-align: center;
  width: 115px;
  margin: 0.5em;
  background: none;
  display: flex;
  justify-content: center;
  border:0;
  transition:0.5s;
  cursor: pointer;
  font-weight: 500;
  padding: 1em;
  font-size: 1.3em;
  border-radius: 0.3em;
  box-shadow: rgba(99, 99, 99, 0.2) 2px 4px 8px 0px;

  }
.card-body{
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15em;
box-shadow:rgba(99, 99, 99, 0.2) 0px 4px 16px 0px; 
}
.card-para{
  font-weight: 100;
  text-align: center;
  text-transform:uppercase;
}
.card-body img{
width: 10em;
}
.item-detail{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:4em;
  margin: 1em;
}
.title-back{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1em;
}
.cart{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-para{
  position: absolute;
  transform: translateX(1em);
padding: 0.5em;
  background-color: red;
  border-radius: 50%;
  height: 0.5em;
  display: flex;
  align-items: center;
  
}
.cath-detail{
  padding: 0.5em;
  text-align: center;
}
.title-detail{
font-size: 2.5em;
color:black;
font-weight: 100;
opacity: 0.3;
transition: 0.5s;
}
.title-detail:hover{
  opacity: 1;
  transition: 0.5s;
}
.card-detail{
  display: flex;
  gap:1em;
  justify-content: center;
  align-items: center;
}
.img-detail{
  transform: scale(0.9);
  padding: 1em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 20em;
  transition:1s;
}
.img-detail:hover{
transform: scale(1);
transition:1s;
}
.par-detail{
  text-align: center;
  margin: 1em;
  font-size: 1.5em;
}
.description{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}














/* CONTACT */
.contact-container{
width: 100%;
height: 100%;
}
.title-contact{
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form{
  display: flex;
  justify-content: center;
}
form{
  width: 65%;
  display: flex;
  flex-direction: column;
 gap: 1em;
  background-color: #eff0f4;
  margin: 1em;
border-bottom-left-radius: 0.4em;
border-top-left-radius: 0.4em;
  padding: 1em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.form-title{
  color:#3b4754;
  font-weight: 400;
}
.form-inputs-1{
  display: flex;
  gap: 1em;
}
.form-inputs-2{
  display: flex;
  gap: 1em;
}
.form-input{
width: 100%;
border: 1px solid #c9d3dd;
height: 30px;
text-align: center;
}
label{
  color: #3b4754;
  font-weight: 100;
  padding: 0.5em;
}
.form-input-2{
display: flex;
width: 90%;
border: 1px solid #c9d3dd;
}
.form-desc{
  color:#798da3;
  text-align: center;
}
.form-inputs{
 display: flex;
 flex-direction: column;
 width: 100%; 
}
.label-input{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: start;
  width: 100%;  
}
.form-btn{
  display: flex;
  justify-content: end;

}

.form-btn button{
  background-color: #29323d;
  border:1px solid #29323d;
  text-decoration: uppercase;
  padding: 1em;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
}
.flex{
  display: flex;
  align-items: center;
gap: 0.5em;
font-size: 0.7em;
}
.extra-info{
border-top-right-radius: 0.4em;
border-bottom-right-radius: 0.4em;
  background-color:#f5f6f9;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.extra-title{

}
.extra-desc{
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em;
  border-top:1px solid #3b4754;
  border-bottom:1px solid #3b4754;
  padding: 1em;
}
.extra-title h3{
  color: #3b4754;
  padding: 1em;
}
.info-extra{
  opacity: 0.5;
background-color: white;
padding: 0.5em;
border-radius: 5em;
}



.extra-rrss{
  display: flex;
  gap:1em;
  margin: 1em;
  padding: 1em;
  opacity: 0.5;
}
.extra-rrss img{
  width: 24px;
}

.btn-finishbuy{
  padding: 0.5em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0.5em;
  transition:1s;
}

.btn-finishbuy:hover{
  color:rgb(0, 0, 0);
  box-shadow: rgba(99, 99, 99, 0.2) 2px 4px 16px 0px;
  transition:1s;
}
.img-cart{
 height: 12em;
  width:148px;
  padding: 1em;
}
.cart-title{
color:black;
font-size: 32px;
text-align: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cart-paragraph{
font-size: 16px;
color: black;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.item-cart{
  display:flex;
  align-items: center;
  margin: 1em;
  box-shadow:rgba(99, 99, 99, 0.2) 0px 4px 16px 0px;
  animation-name:appear;
  animation-duration:1s;
  animation-fill-mode: both;
  transition: 1s;
  opacity: 0;
}
.btn-delete{
  border-radius: 0.5em;
  margin-top: 1em;
  padding: 0.5em;
  transition: 0.5s;
  cursor: pointer;
  border:none;
  background: rgb(244, 244, 244); 
transition: 1s;
}
.btn-delete:hover{
  transition: 1s;
  box-shadow:rgba(99, 99, 99, 0.2) 0px 4px 16px 0px;
  transition: 0.5s;
  cursor: pointer;
  transform: translateY(-0.3em);
}
.btn-clean-container{
display: flex;
justify-content: center;
}
.btn-clean{
  background: none;
  border:none;
  border-radius: 0.5em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 0.5em;
  text-align: center;
  margin: 0.5em;
  width: 10em;
  transition: 0.5s;
  font-weight: 100;
}
.btn-clean:hover{
  box-shadow:rgba(99, 99, 99, 0.2) 0px 4px 16px 0px;
  transition: 0.5s;
  cursor: pointer;
  transform: translateY(-0.3em);
}
.btn-image{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.btn-image a{
  transform: translateY(0.3em);
  padding: 0.5em;
  transition: 1s;
  border-radius: 0.5em;
  color: black;
}
.btn-image a:hover{
  box-shadow:rgba(99, 99, 99, 0.2) 0px 4px 16px 0px;
  transition: 0.5s;
  cursor: pointer;
  transform: translateY(-0.3em);
}
.dissapear-cart{
  animation-name: dissapear;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes dissapear {
  0%{opacity: 1;}
  100%{opacity: 0;}
}
.title-purchase{
  font-size: 32px;
  font-weight: 100;
  padding: 0.5em;
  box-shadow:rgba(99, 99, 99, 0.2) 0px 4px 16px 0px;
  margin: 1em;
}
.purchases-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.purchase-container{
  gap: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 1em;
  font-weight: 100;
  padding: 1em;
  box-shadow:inset rgba(99, 99, 99, 0.2) 0px 4px 16px 0px;
  margin: 1em;
  transition:1s;
}
.purchase-container:hover{
  box-shadow: inset 500px 0 0 0 black;
  transition:1s;
  color: white;
}
.purchase-price p{
  font-weight: 500;
}
.admin-panel-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1em;
}
.admin-panel-title h1{
font-weight: 100;

}
.admin-panel-options a{
padding: 0.5em;
margin: 1em;
box-shadow:rgba(99, 99, 99, 0.2) 0px 4px 16px 0px;
font-size: 24px;
}
.total-container{
display: flex;
justify-content: space-around;
flex-direction: column;
align-items: center;
}

.total-text{
  box-shadow:rgba(99, 99, 99, 0.2) 0px 4px 16px 0px;
  padding: 1em;
 display: block;
  margin: 1em;
}
.btn-buy{
  box-shadow:rgba(99, 99, 99, 0.2) 0px 4px 16px 0px;
  padding: 1em;
  margin: 1em;
display: block;
font-family:sans-serif;
}
.btn-buy:hover{
  color: white;
  background-color: black;
  transition: 1s;
}
.container-btn-animated{

}
.btn-1{
  width: 250px;
  height: 70px;
  padding: 0.5em;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: none;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #000000;
  transition: ease-out 0.3s;
  font-size: 2rem;
  outline: none;
}
.btn-1:hover{
  box-shadow:inset 300px 0 0 0 #000000;
cursor: pointer;
color: white;
transition: 1s;
}
.cathegory{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cathegory a{
  padding: 0.4em;
  border-radius: 0.2em;
  font-weight: 100;
  font-size: 32px;
transition: 0.5s;
margin: 0.2em;
animation-name: appear-2;
animation-duration: 1s;
box-shadow:rgba(99, 99, 99, 0.2) 0px 4px 16px 0px; 
}
.cathegory a:hover{
  transition: 0.5s;
  scale: 1.1;
}
.btn-cath-container{
  display: flex;
justify-content: center;
align-items: center;
}
.btn-cath{
  padding: 0.5em;
  width: 10em;
  background: none;
border:none;
  border-radius: 0.5em;
  transition: 0.5s;
  cursor: pointer;
  box-shadow:rgba(99, 99, 99, 0.2) 0px 4px 16px 0px; 
}
.btn-cath:hover{
scale: 1.5;
  transition: 0.5s;
}
#addToCart {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none;
}
.back-cath{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
flex-direction: column;
}
.back-cath h1{
  font-weight: 100;
}
.back-cath a{
  display: flex;
  gap: 1em;
  margin: 1em;
  box-shadow:rgba(99, 99, 99, 0.2) 0px 4px 16px 0px;
  padding: 1em;
}
.back-cath a img{

}
.back-cath p{

}
@media all and (max-width:768px) {
  .extra-info{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
    border:none;
  }
.form{
  flex-direction: column;
text-align: center;
align-items: center;
width: 100%;
}
form{
width: 89%;
}

.btn-image{
flex-direction: column;
}

  .item-detail{
    padding: 1em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .title-detail{
    font-size: 1.5em;
    text-align: center;
  }
  .item-count-container{
width: 6em;
  }
  .item-count{
gap:1.5em;
  }
#addToCart{

}
.stock{
margin: 0.5em;
}
  .btn{

  }
  .buy-btn{
width: 6em;
  }
  .price{
font-size: 1.5em;
  }
  .buy-btn button{

  }
  .buy-btn button:hover{
  
  
  }
  .header-title{
    font-size: 24px;
  }
  .description{
    align-items: center;
    font-size: 16px;
    text-align: center;
  }
  .img-detail{
    width: 10em;
    box-shadow: none;
  }
  .par-detail{
    font-size: 0.7em;
  }
}
@media all and (max-width:768px) {
  .header-title{
    font-size: 24px;
  }
  #logo{
    width: 35px;
  }
}
@media all and (max-width:368px) {
  .header-title{
    font-size: 14px;
  }
  #logo{
    width: 25px;
  }
}